* {
    margin: 0;
    padding: 0;
}

:root {
    --pri-blue: #0499ff;
    --pri-yellow: #ffd904;
    --pri-red: #ff044f;
    --pri-green: #04ff68;
    --pri-purple: #3604ff;
    --pri-orange: #ff5c04;
    --dark1: #181d24;
}

body {
    background: linear-gradient(217deg, var(--pri-blue), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, var(--pri-red), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, var(--pri-purple), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
    display: flex ;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}